@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg-all {
    background-image: url("https://wallpaperaccess.com/full/1858110.jpg");
    background-size: 200px;
    

}

.Load {
    font-family: sans-serif;
    text-align: center;
  }
  